<h1>Medical Information</h1>

<div id="emergency-info">
  <h2>Name:</h2><p>{{details.name}}</p>

  <h2>Emergency Contact:</h2>
  <p>{{details.emergencyContact.name}}: {{details.emergencyContact.phoneNumber}}</p>

  <h2>Medical Conditions:</h2>
  <p>{{details.medicalConditions}}</p>

  <h2>Allergies:</h2>
  <p>{{details.allergies}}</p>

  <h2>Blood Type:</h2>
  <p>{{details.bloodType}}</p>
</div>
